<html>
  <head>
  </head>
  <body>
      <ul >
          <li *ngFor="let product of products; let i=index" (click)="listClick(product)" 
              [ngClass]="{'active': selectedIndex == i}" >
             {{ product.pid }}
          </li>
       </ul>
       <div>
         <input type="text" placeholder="Name" [(ngModel)]=selectedItem.Name />
         <input type="number" placeholder="Name" [(ngModel)]=selectedItem.Price />
         <input type="number" placeholder="Name" [(ngModel)]=selectedItem.Gst />
         <input type="number" placeholder="Name" [(ngModel)]=selectedItem.Quantity />
         <button (click)="update()" >Update</button>
       </div>
      <div>
        {{selectedItem.Name}}
        {{selectedItem.Price}}
        {{selectedItem.Gst}}
        {{selectedItem.Quantity}}
      </div>

      <input #myInput placeholder="Item name..." [(ngModel)]="searchname" (input)="filterItem(myInput.value)"/>
      
      <div *ngFor="let item of searchproducts">
         {{item.Name}}
      </div>

    </body>
</html>