<html>
        
        <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div class="row">
                        <div style="margin-left:4%" class="div1">
                          <!-- <a href="https://www.google.co.in/">Google</a> -->
                            <input class="form-control search" style="margin-left:0%" #myInput placeholder="Item name..." [(ngModel)]="searchname" (input)="filterItem(myInput.value)"/>
                            <div style="margin-left:4%" *ngFor="let item of searchproducts let i=index" (click)="listClick(item)"  
                            [ngClass]="{'active': selectedIndex == i}">
                                {{item.Name}}
                             </div>
                          </div>
                    <div class="col-sm-6 div2"  >
                      <br>
                              <table class="table table-hover table-bordered results ">
                                    <thead>
                                      <tr>
                                        <th class="col-sm-2">Product Id</th>
                                        <th class="col-sm-4">Product Name</th>
                                        <th class="col-sm-2">Product Quantity</th>
                                      </tr>
                                    </thead>
                                    <tbody>  
                            
                            <tr class="pr" *ngFor="let additem of selectedproducts" >
                              <td>{{additem.pid}}</td>
                             <td class='pname'>{{additem.Name}}</td>
                             <td class='pquandity' >
                                <input style="color:black" type="number" [(ngModel)]=additem.Quantity (ngModelChange)="gstcalc()" /></td>
                            </tr>
                        </tbody>
                      </table>
                      <h6>Total: {{gst}}</h6>
                    </div>
                    </div>
        </body>
        </html>